body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
 list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container header .barra-pesquisa{
    display: flex;
    align-items: center;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    height: fit-content; /*regula o tamanho no contexto do elemento*/
    width: 400px;
    padding: 5px 10px;
    gap: 10px;
}

.container header .barra-pesquisa i{
    font-size: 12px;
    color: rgb(23, 122, 23);
}

.container header .barra-pesquisa input{
    border: none;
    background-color: transparent;
    outline: none; /*tira a borda azul do input*/
}

.container header{
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    
}

.atalhos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.atalhos i{
    font-size: 25px;
    color: green;
    display: flex;
    gap: 10px;
}

.atalhos img{
    border-radius: 100%;
}

.principal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.container .principal aside{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.container .principal main{
    display: flex;
    height: 100%;
    width: 80%;
    padding: 20px 40px;
    flex-direction: column;
}

.container .principal main h1{
    font-size: 24px;
}

.container .principal main .card-info{
    background-color:  rgb(63, 165, 42);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
}

.container .principal main .card-info .esquerda{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .principal main .card-info .direita a{
    color: white;
}


.container .principal aside nav ul li a{
    display: flex;
    align-items: center;
    gap: 20px;    
}

.container .principal aside button {
    padding: 10px 10px;
    background-color: rgb(53, 181, 53);
    border: none;
    color: white;
    margin: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

.container .principal aside nav ul li a .ultimo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.container .principal aside nav ul li a .ultimo .esquerda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;

}

.container .principal aside nav ul li a .ultimo i{
   display: flex;
   align-items: center;
    }

.container .principal aside nav ul li a{
    padding: 0 20px;
    color: gray;
}

.container .principal aside nav ul{
    padding: 0;
}

#ativo{
    border-left: 5px solid green;
    color: black;
    }

.container .principal main .cards {
    display: flex;
    width: 100%;
    justify-content:space-between;
    gap: 10px;
    flex-wrap: wrap;
    }

    .container .principal main .cards .card{
        background-color: white;
        border: 1px solid rgb(221, 219, 219);
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        margin: 20px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .container .principal main .cards .card .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .principal main .cards .card .icone{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .principal main .cards .card .icon1{
        color: #fd652f;
        background-color: #FEECDC;
    }
    
    .container .principal main .cards .card .icon2{
        color: #83b380;
        background-color: #abeca8;
    }

    .container .principal main .cards .card .icon3{
        color: #7e84b4;
        background-color: #a8c2ec;
    }

    .container .principal main .cards .card .icon4{
        color: #2fe5fd;
        background-color: #dcfdfe;
    }

    p{
        line-height: 0;
    }

    main .table-user table {
       width: 100%;
       text-align: center; 
       /* text-align centraliza o texto */
        border-collapse: collapse;
    }

    main .table-user table th,
    main .table-user table td{
        /* border: 1px solid black; */
        padding: 16px;
        border-bottom: 1px solid #808080;
        /* 1 en significa 16 px */
    }

    main .table-user {
        border: 1px solid #808080;
        border-radius: 8px;
    }

    main .table-user table tr:last-child td{
        border-bottom: none;
    }